<div class="container">
  <form #detailForm="ngForm" (submit)="save()">
    <div>
      <h2>{{(flujo.id != null) ? 'Editar' : 'Crear'}} flujo</h2>
    </div>
    <div class="row">
      <div class="col-lg-1">
        <label class="form-label" for="idFlujo">Id</label>
        <input type="text" id="idFlujo" class="form-control"
            name="id" [(ngModel)]="flujo.id"
            disabled/>
      </div>

      <div class="col-lg-2">
        <label class="form-label" for="nombre">Nombre</label>
        <input type="text" id="nombre" class="form-control"
            name="nombre" [(ngModel)]="flujo.nombre"
            maxlength="15"
            required />
      </div>

      

      <div class="col-lg-2">
        <label class="form-label" for="tiempoInicio">Fecha Inicio</label>
        <input type="datetime-local" id="tiempoInicio" class="form-control" 
            name="tiempoInicio" [(ngModel)]="flujo.tiempoInicio"
            required />
      </div>
      <div class="col-lg-2">
        <label class="form-label" for="tiempoFin">Fecha Fin</label>
        <input type="datetime" id="tiempoFin" class="form-control" 
            name="tiempoFin" [(ngModel)]="flujo.tiempoFin"
            required />
      </div>

      <div class="col-lg-2">
        <label class="form-label" for="estado">¿Activo?</label>
        <input type="radio" id="estado" name="estado" [(ngModel)]="flujo.estado" [value]="true">
  
        
            
      </div>
    </div>
    <div class="row"><br/></div>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
        <button type="button" class="btn btn-sm btn-primary" (click)="goBack()">Volver</button>
      </div>
      <div class="col-lg-3">
        <button type="submit" class="btn btn-sm btn-warning"
                [disabled]="!detailForm.form.valid">{{(flujo.id != null) ? 'Editar' : 'Crear'}} flujos</button>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </form>
</div>
