<form>
  
  
    <!-- Id input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example3" class="form-control" />
      <label class="form-label" for="form6Example3">ID</label>
    </div>
  
    <!-- Nombre input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example4" class="form-control" />
      <label class="form-label" for="form6Example4">NOMBRE</label>
    </div>
  
    <!-- Flujo input -->
    <div class="form-outline mb-4">
      <input type="email" id="form6Example5" class="form-control" />
      <label class="form-label" for="form6Example5">INSTANCIA</label>
    </div>
    <form>
  
  
        <!-- Id input -->
        <div class="form-outline mb-4">
          <input type="text" id="form6Example3" class="form-control" />
          <label class="form-label" for="form6Example3">ESTADO</label>
        </div>
      
        <!-- Nombre input -->
        <div class="form-outline mb-4">
          <input type="text" id="form6Example4" class="form-control" />
          <label class="form-label" for="form6Example4">FECHA INICIO</label>
        </div>
      
        <!-- Flujo input -->
        <div class="form-outline mb-4">
          <input type="email" id="form6Example5" class="form-control" />
          <label class="form-label" for="form6Example5">FECHA FIN</label>
        </div>
      
      
        
  
        <div class="row">
            <div class="col-sm">
                <a routerLink="/"> <button type="button" class="btn btn-primary btn-lg w-100">Volver</button></a>
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-warning btn-lg w-100">Crear Flujo</button>
            </div>
          </div>
   
 
  </form>
