<div class="container">
  <div class="row">
    <h2>Lista de Conexiones</h2>
    <table>
      <tr>
        <td>Nombre</td>
        <td>Lenguaje</td>
        <td>Tipo servicio</td>
        <td><!-- Acciones --></td>
      </tr>
      <tr *ngFor="let conexion of conexiones">
        <td>{{conexion.nombre}}</td>
        <td>{{conexion.lenguaje}}</td>
        <td>{{conexion.tipoServicio}}</td>
        <td>
          <a routerLink="/conexiones/detalle/{{conexion.id}}"><button type="button" class="btn btn-sm btn-warning">Editar</button></a>
          <button type="button" class="btn btn-sm btn-danger" (click)="deleteConexion(conexion)">Eliminar</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <a routerLink="/"> <button type="button" class="btn btn-sm btn-primary">Volver</button></a>
    </div>
    <div class="col-lg-3">
      <a routerLink="/conexiones/alta"><button type="button" class="btn btn-sm btn-warning">Crear Conexi&oacute;n</button></a>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>