<html>
<head>
 

</head>
<body>

  <app-header></app-header>
  <div class="row">
  <h1><p class="text-center">El integrador</p></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <a routerLink="/conexiones"> <button type="button" class="btn btn-primary btn-lg btn-block">Flujos</button></a>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-danger btn-lg btn-block">Instancias</button>
    </div>
    <div class="col-sm">
      <a routerLink="/conexiones"><button type="button" class="btn btn-warning btn-lg btn-block">Conexiones</button></a>
    </div>
  </div>
</div>

</body>

  

  
  




